---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Astro Documentation";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>
    Links from Astro's introductory <a
      href="https://docs.astro.build/en/tutorial/0-introduction/">tutorial</a>
  </h2>
  <ul>
    <li>
      <a
        href="https://docs.astro.build/en/basics/astro-pages/#file-based-routing"
        >File-based routing in Astro</a
      >
    </li>
    <li>
      <a href="https://docs.astro.build/en/basics/astro-pages/#astro-pages"
        >Astro Page HTML</a
      >
    </li>
    <li>
      <a
        href="https://docs.astro.build/en/basics/astro-syntax/#jsx-like-expressions"
        >Dynamic expressions in Astro</a
      >
    </li>
    <li>
      <a
        href="https://docs.astro.build/en/basics/astro-syntax/#differences-between-astro-and-jsx"
        >Astro syntax vs JSX - comparison</a
      >
    </li>
    <li>
      <a href="https://docs.astro.build/en/guides/styling/#styling-in-astro"
        >Astro &lt;style&gt; tag</a
      >
    </li>
    <li>
      <a href="https://docs.astro.build/en/guides/styling/#css-variables"
        >CSS variables in Astro</a
      >
    </li>
    <li>
      <a href="https://docs.astro.build/en/basics/astro-components/"
        >Astro Component Overview</a
      >
    </li>
    <li>
      <a href="https://docs.astro.build/en/basics/layouts/"
        >Astro layout components</a
      >
    </li>
    <li>
      <a href="https://docs.astro.build/en/basics/astro-components/#slots"
        >Astro &lt;slot /&gt;</a
      >
    </li>
  </ul>
</BaseLayout>
