---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'My Home Page';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>
		Sample site build with <a href="https://astro.build/">
			<img src="https://docs.astro.build/assets/full-logo-dark.png" alt="Astro logo" />
		</a>
	</h2>
</BaseLayout>
