---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = 'My Home Page';
---

<BaseLayout pageTitle={pageTitle}>
	<div>
		<a href="https://astro.build/">
			<img class="logo" src="/full-logo-dark.png" alt="Astro logo" />
		</a>
		<a href="https://react.dev">
			<img class="logo react" src="/react.svg" alt="React logo" />
		</a>
	</div>
	<h2>Sample site build with Astro + React</h2>
	<Greeting
		client:load
		messages={['Hi', 'Hello', 'Howdy', 'Hey there', 'Hej', 'Hallo', 'Hola', 'Habari']}
	/>
</BaseLayout>
